build/
dist/
install/
out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

*_autogen/

.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
*.pdb
*.ilk
*.obj
*.tlog
*.exe
*.dll
*.lib
*.exp
*.res
*.log
*.cache
*.opendb
*.sdf
*.VC.db
*.VC.VC.opendb
