build/
dist/
install/
out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake
!CMakeLists.txt
Testing/
CMakeUserPresets.json
CMakeSettings.json

*_autogen/

.vs/
.vscode/
*.code-workspace
ipch/
x64/
x86/
Win32/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
*.pdb
*.ilk
*.obj
*.tlog
*.exe
*.dll
*.lib
*.exp
*.res
*.log
*.cache
*.opendb
*.sdf
*.VC.db
*.VC.VC.opendb

*.rsp
*.suo
*.ncb
*.aps

.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
